/* Navbar */
.Navcontainer {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4%;
    box-sizing: border-box;
}

.navbar {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw; /* responsive font */
    padding: 0 2.5%;
    position: relative;
    float: none;
    width: auto;
}

.navbar:hover {
    text-decoration: underline;
    color: white;
}

.titelnavcont {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.titelnav {
    color: white;
    position: absolute;
    left: 8%;
    top: 8px;
    font-size: 2.5vw;
    margin: 0;
}

.imgtitelnav {
    width: 5%;
    height: auto;
    position: absolute;
    left: 2%;
    top: -2;
}

body {
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

.background1grey {
    background-color: #ECF0F1;
    height: 350px;
    width: 100%;
    margin-top: 0px;
}

.Titelhp {
    margin-top: 0;
    padding-top: 75px;
    font-size: 85px;
    margin-left: 480px;
}

.Titelslogan {
    font-size: 45px;
    margin-left: 600px;
    color: #ff6600;
    margin-top: -35px;
}


/*
==========================
TOP 3 Sportarten 
==========================
*/

.titelt4 {
    margin-top: 120px;
    font-size: 45px;
    text-align:center;
}


.background2grey {
    background-color: #5c6064;
    height: 320px;
    width: 60%;
    top: 1150px;
    position: absolute;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* Import Mukta font from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Mukta:700");



/* Base button styles */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

/* "Learn More" button specific styles */
button.learn-more {
  width: 12rem;
  height: auto;
  left: 150px;
  top: 20px;
}

/* Circular background styles */
button.learn-more .circle {
  transition: all 0.45s;
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #FF6600;
  border-radius: 1.625rem;
}

/* Icon base styles */
button.learn-more .circle .icon {
  transition: all 0.45s;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

/* Arrow icon styles */
button.learn-more .circle .icon.arrow {
  transition: all 0.45s;
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

/* Arrow icon before pseudo-element (creates arrowhead) */
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

/* Button text styles */
button.learn-more .button-text {
  transition: all 0.45s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #FF6600;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

/* Hover effects for the button */
button:hover .circle {
  width: 100%;
  box-shadow: 0 0 20px tomato;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}





/* Responsive flex cards container */
.cards {
    display: flex;
    gap: 2%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 4%;
    box-sizing: border-box;
    margin-top: 30px;
}

/* Generic card used for all sport tiles */
.card {
    border-radius: 25px;
    background: #ECF0F1;
    padding: 20px;
    width: 22%;       /* scales with viewport */
    min-width: 150px; /* prevents shrinking too small */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* title and image inside card */
.card-title {
    font-size: 1.1rem;
    color: black;
    text-align: center;
    margin: 0;
}

.card-img {
    width: 60%;   /* percentage-based image sizing */
    height: auto;
    object-fit: contain;
}

body{
margin:0;
overflow-x:hidden;
}

.footer {
    background: #000;
    padding: 3% 0%;
    font-family: 'Play', sans-serif;
    text-align: center;
    margin-top: 40%;
    position: relative;
    width: 100%;
}

.footer .row {
    width: 100%;
    margin: 1% auto;
    padding: 0.6% 0;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer .row ul li {
    display: inline-block;
    margin: 0 2%;
}

.footer .row a i {
    font-size: 2em;
    margin: 0 1%;
}

@media (max-width: 720px) {
    .footer {
        text-align: center;
        padding: 5%;
    }
    .footer .row ul li {
        display: block;
        margin: 10px 0;
        text-align: left;
    }
    .footer .row a i {
        margin: 0 1%;
    }
}